html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
  }
  
  td {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    color: rgb(255, 255, 255);
    font-size: 20px; 
    -webkit-text-stroke: 1px black; 
    background-color: rgb(125, 127, 253);
    border: 3px solid rgb(0, 0, 0);
    padding: 10px 40px;
    text-align: center;
  }
  
  tr {
    background-color: rgb(255, 255, 255);
  }

  td {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 22px; 
  }

  .mp04 {
    background-color: rgb(255, 0, 0);
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    color: #ffffff;
  }
  .mp12 {
    background-color: rgb(255, 251, 0);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    color: #ffffff;
  }
  .mp07 {
    background-color: rgb(255, 147, 46);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    color: #ffffff;
  }
  .mp06 {
    background-color: rgb(87, 0, 109);
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    color: #ffffff;
  }
  .mp10 {
    background-color: rgb(17, 0, 255);
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    color: #ffffff;
  }
  .mp08 {
    background-color: rgb(95, 255, 194);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    color: #ffffff;
  }
  .T {
    background-color: rgb(78, 78, 78);
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    color: #ffffff; 
  }

  .margen_up {
    padding-top: 20px;
     }

     .pp:nth-child(even) td {
        background-color: rgb(255, 255, 255);
        text-align: left;
      }
      
      .pp:nth-child(odd) td {
        background-color: rgb(133, 172, 255);
        text-align: left;
      }
      
  h1 {
font-size: ca;
font-family: arial;
  }

  h2 {
    color: rgb(255, 255, 255);
text-align: center;
font-size: 47px;
font-family: arial;
  }

  h3 {
    color: rgb(255, 255, 255);
text-align: center;
font-size: 28px;
font-family: arial;
  }
