table {
    border-collapse: collapse;
    border: 2px solid rgb(31, 0, 170);
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;

  }

  th {
    color: rgb(255, 255, 255);
    font-size: 25px; 
    background-color: rgb(31, 0, 170);
    border: 3px solid rgb(31, 0, 170);
    padding: 6px 10px;
    text-align: left;
  }

p {
  color: rgb(255, 255, 255);
  font-size: 30px; 
  background-color: rgb(31, 0, 170);
  border: 10px solid rgb(31, 0, 170);
  padding: 10px 10px;
  text-align: left;
}

  td {
    text-align: left;
    font-size: 18px; 
  }

  .img {
    border-left: 9px solid rgb(255, 255, 255);
    border-top: 9px solid rgb(255, 255, 255);
  }

  tr th:nth-child(1) {
    width: 7%;
  }

  tr th:nth-child(2){
    width: 31%;
  }

  tr th:nth-child(3){
    width: 31%;
  }

  tr th:nth-child(4){
    width: 31%;
  }
